<div class="station-section">

  <app-custom-table [hidHeader]="true" [idTable]="'listProcess'" [customHeader]="true" [tollTableData]="process"
                  [colonnesName]="tableColumns" [actionListButton]="actionButton" [activeExport]="false"
                  (loadingNewPage)="nextPage($event)" [actionActiveButton]="true" [pageSize]="pageSize"
                  [lazyLoading]="true" (pageSizeChange)="onPageSizeChange($event)"
                  [options]="true" [columnsClass]="'toll-table-style'" [tableClass]="'table table-striped mt-3 toll-table-style'" [noBorder]="true" [totalSize]="totalElements"
                  [activeFilter]="false" (buttonAction)="buttonAction($event)" [Tablename]="'menu.list_of_process' | translate">
  </app-custom-table>


</div>
