<div class="station-section">
  <div class="action d-flex justify-content-end button-space">

      <app-custom-button [buttonText]="'button.ADD' | translate" [buttonClass]="'custom-button'"
                         [buttonIcon]="'icon-style icon-Add'" [buttonType]="'button'" [buttonDisabled]="false"
                         (clicked)="redirectToAddForm()"></app-custom-button>
    <app-custom-button [buttonText]="'button.IMPORT' | translate"
                       [buttonClass]="'custom-button'"
                       [buttonIcon]="'fas fa-upload'" [buttonType]="'button'"
                       [buttonDisabled]="false"
                       (clicked)="ImportForm()"></app-custom-button>
    </div>
    <br>
  <app-custom-table [hidHeader]="true" [idTable]="'listProcess'" [customHeader]="true" [tollTableData]="form"
                  [colonnesName]="tableColumns" [actionListButton]="actionButton" [activeExport]="false"
                  (loadingNewPage)="nextPage($event)" [actionActiveButton]="true" [pageSize]="pageSize"
                  [lazyLoading]="true"
                  [options]="true" [columnsClass]="'toll-table-style'"
                  [tableClass]="'table table-striped mt-3 toll-table-style'" [noBorder]="true" [totalSize]="totalCount"
                  [activeFilter]="false" (buttonAction)="buttonAction($event)"
                  (pageSizeChange)="onPageSizeChange($event)" [Tablename]="'menu.list_of_form' | translate">
  </app-custom-table>
  <app-ui-modal #deleteUserModal id="deleteUserModal" dialogClass="modal-dialog-centered" [hideHeader]="true">
    <div class="app-modal-body delete-modal">
      <div class="d-flex justify-content-end pb-4">
        <i class="icon-delete-modal feather icon-x" (click)="deleteUserModal.hide()"></i>
      </div>
      <div class="col-12 text-center">
        <img src="/assets/images/supprimer.svg" class="delete-img">
        <p class="text-modal-big">
          {{ 'button.CONFIRM_DELETE' | translate }} {{ formName }} ?
        </p>
        <p class="text-modal-big">
          {{ 'button.DELETE_ACTION' | translate }}
        </p>
      </div>
      <br>
      <div class="action d-flex justify-content-center button-space">
        <app-custom-button class="ms-2" [buttonText]="'button.DELETE' | translate" [buttonClass]="'btn custom-btn-primary'"
                           [buttonType]="'button'" [buttonDisabled]="false"
                           [buttonIcon]="'icon-delete-style icon-delete'"
                           (clicked)="handleOnDeleteForm(); "></app-custom-button>
        <app-custom-button class="ms-2" [buttonText]="'button.CANCEL'  | translate" [buttonClass]="'btn custom-btn-secondary'"
                           (clicked)="deleteUserModal.hide()" [buttonType]="'button'"
                           [buttonDisabled]="false"></app-custom-button>
      </div>
    </div>
  </app-ui-modal>
  </div>
