.formio-form {
  .custom-tabs-field {
    .nav-link {
      background-color: $white;
      border: 2px solid $primary-violet-green;
      font-size: 20px;
      color: $color-dark-gray;
      font-weight: 800;

      &.active {
        background-color: $primary-violet-green;
        color: $white;
        border-color: $primary-violet-green;
      }

      &:hover {
        background-color: $primary-violet-green;
        color: $white;
        border-color: $primary-violet-green;
      }
    }

    .nav-item-label {
      color: $primary-violet-green;
      width: calc(100% + 15px);
      text-align: center;
    }

    .nav-item::after {
      content: '';
      position: absolute;
      top: 35%;
      left: 85%;
      height: 2px;
      width: 35%;
      background-color: $color-border-gray;
      z-index: -1;
    }

    .nav-tabs::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 0;
      background-color: $color-border-gray;
      z-index: -1;
    }
  }

  .fa-plus:before {
    content: "\f067";
    background: $white;
    color: $black;
    border-radius: 15px;
    padding: 9px;
    font-size: 8px;
    margin-right: 8px;
  }

  .formio-component-customdatagrid .btn-primary.formio-button-add-row {
    background-color: $primary-violet-green;
    color: $white;
    border: 1px solid $primary-violet-green;
    padding: 2px 6px 2px 3px;
    justify-content: start;
    height: 35px;
    position: absolute;
    right: 45px;
    bottom: 25px;

    .fa {
      margin-top: -3px;
    }
  }

  .formio-component-customdatagrid .btn.btn-secondary.formio-button-remove-row::before {
    margin-bottom: 12px;
  }

  .form-group label {
    opacity: 0.9;
    font-weight: 500;
    color: $color-dark-gray;
    font-size: 16px;
    line-height: 23px;
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: $color-highlight-blue;
    opacity: 0.541;
  }

  .form-control:disabled {
    border-radius: 10px;
    background-color: $color-light-gray;
    border: 2px solid $color-border-gray;
    opacity: 0.541;
  }

  .is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
    border-radius: 10px;
    background-color: $white;
    border: 2px solid $color-border-gray;
  }

  .form-check-input:checked[type=radio] {
    background-color: $primary-violet-green;
    border: 2px solid $primary-violet-green;
  }

  .form-check-input[type=radio] {
    border-radius: 50%;
    border: 2px solid $color-dark-gray;
  }

  .form-check-input[type=checkbox] {
    width: 1.1em;
    height: 1.1em;
    border: 2px solid $color-dark-gray;
  }

  .form-check-input:checked[type="checkbox"] {
    position: relative;
  }

  .form-check-input:checked[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 5px;
    width: 4px;
    height: 9px;
    border: solid $primary-violet-green;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .form-check-input:checked[type=checkbox] {
    background-color: $white;
    border-color: $primary-violet-green;
  }

  .form-check-input:focus {
    box-shadow: none;
  }

  .fa-calendar:before {
    content: "\f133";
    color: $primary-violet-green;
  }

  .formio-component-content .text-big {
    color: $primary-violet-green;
    font-size: 16px;
    font-weight: 700;
  }

  .form-control.ui.fluid.selection.dropdown {
    opacity: 0.541;
    border-radius: 10px;
    background-color: $white;
    border: 2px solid $color-border-gray;
    padding: 10px;
  }

  input.form-control {
    opacity: 0.541;
    border-radius: 10px;
    background-color: $white;
    border: 2px solid $color-border-gray;
    padding: 10px;
  }

  .form-check-label span {
    font-weight: 500;
    font-size: 14px;
  }

  .input-group-text {
    height: 100%;
    background-color: $white;
    border-left-style: none;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-color: $color-border-gray;
    border-right-color: $color-border-gray;
    border-bottom-color: $color-border-gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    opacity: 0.541;
    cursor: pointer;
  }

  .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: calc(var(--bs-border-width) * -1);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  textarea.form-control {
    opacity: 0.541;
    border-radius: 10px;
    background-color: $white;
    border: 2px solid $color-border-gray;
    padding: 10px;
  }

  a {
    color: #00bfd0;
  }

  .stepper-button {
    background-color: $primary-violet-green;
    border-radius: 30px;
  }

  .stepper-button:hover {
    background-color: $violet-mint;
  }

  .stepper-button:disabled {
    background-color: $violet-mint;
    opacity: 0.6;
  }

  .stepper-button.prev-button {
    background-color: $white;
    color: $gris-subtil;
    text-decoration: underline;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
  }

  .stepper-button-container {
    justify-content: end;
  }

  .formio-component-submit.form-group, .formio-component-customSubmit.form-group, .formio-component-saveDraft.form-group {
    display: flex;
    justify-content: end;
    margin-top: 9px;
    margin-left: -9px;
  }

  .btn.btn-primary {
    border-radius: 30px;
    height: 40px;
  }

  .btn:hover {
    background-color: $violet-mint;
    color: $white;
    border: 1px solid $violet-mint;
  }

  .btn-primary {
    background-color: $primary-violet-green;
    color: $white;
    border: 1px solid $primary-violet-green;
  }

  .formio-component-saveDraft {
    .btn-primary {
      background-color: $white;
      color: $color-dark-gray;
      border: 2px solid $primary-violet-green;
      margin-top: 2px;
      height: auto;
    }

    .btn:hover {
      background-color: $violet-mint;
      color: $white;
      border: 1px solid $violet-mint;
    }
  }

  .btn:active {
    background-color: $violet-mint;
    color: $white;
    border-color: $violet-mint;
  }

  .table td .btn:hover, .table th .btn:hover {
    color: $white;
  }

  .input-group-prepend .input-group-text {
    height: 100%;
    background-color: #fff;
    border-width: 2px;
    border-style: solid;
    border-color: #989898;
    border-radius: 10px;
    opacity: 0.541;
    cursor: pointer;
  }

  .table td .btn {
    max-height: initial;
  }

  .fa.fa-remove:before {
    font-family: 'icomoon';
    content: "\e91d";
    margin-left: 18px;
    font-size: 23px;
    cursor: pointer;
  }
}

body .flatpickr-day.selected, .flatpickr-day.selected:hover {
  background: $primary-violet-green;
  border-color: $primary-violet-green;
}

body .flatpickr-day.today:hover, .flatpickr-day.today:focus {
  border-color: $primary-violet-green;
  background: $primary-violet-green;
}

body .flatpickr-day.today {
  border-color: $primary-violet-green;
}

body .flatpickr-calendar.open, .flatpickr-calendar.inline {
  margin-top: -50px;
  margin-left: 10px;
}

.formio-component-radio {
  display: block;
  padding-left: 15px;
}

.formio-component-radio label {
  display: inline-block;
  white-space: normal;
  margin-right: 10px;
}

.formio-component-selectBoxes {
  display: block;
  padding-left: 15px;
}

.formio-component-selectBoxes label {
  display: inline-block;
  white-space: normal;
  margin-right: 10px;
}

.formio-component-checkbox {
  display: block;
  padding-left: 15px;
}

.formio-component-checkbox label {
  display: inline-block;
  white-space: normal;
  margin-right: 10px;
}

.formio-component-file label {
  white-space: normal !important;
  word-break: break-word;
}