.task {
  position: relative;

  .accordion .card {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .accordion .card-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
    cursor: pointer;

  }

  .accordion .card-header h5 {
    margin: 0;
  }

  .accordion .btn-link {
    text-decoration: none;
    color: $primary-violet-color;
    font-weight: bold;
    display: block;
    text-align: right;
  }

  .accordion .btn-link:hover {
    text-decoration: none;
    color: $primary-violet-color;
  }

  .accordion .btn-link:focus {
    outline: none;

  }
  .accordion .collapse {
    border-top: 1px solid #ddd;
  }

  .accordion .card-body {
    padding: 15px;
    overflow-y: auto;
    height: auto;
  }

  .accordion .fas {
    margin-right: 10px;
    transition: transform 0.2s ease-in-out;
  }

  .accordion .fa-chevron-down {
    transform: rotate(0deg);
  }

  .fa-chevron-down:before {
    color: $gris-subtil;
  }

  .fa-chevron-right:before {
    color: $gris-subtil;
  }

  .accordion .fa-chevron-right {
    transform: rotate(-90deg);
  }

  .accordion .card-header.active {
    background-color: #e9ecef;
  }

  .custom-color {
    color: $gris-subtil;
  }

  .disabled-form {
    pointer-events: none;
    opacity: 0.5;
  }

  .submission-loading {
    text-align: center;
    margin-top: 10px;
    color: gray;
  }

  .card-header {
    padding: 25px;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .header-content {
    background-color: $white;
  }

  .export-btn {
    position: absolute;
    top: 25px;
    right: 15px;
    background: $theme-violet-darken;
    width: 45px;
    height: 36px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
  }

  ngb-tooltip-window.tooltip {
    --bs-tooltip-bg: #EDEDED;
    --bs-tooltip-color: #64748B;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    translate: -55px;
  }

  ngb-tooltip-window.tooltip .tooltip-arrow {
    translate: 36px;
  }


  .card .card-body {
    padding: 0;
  }

  .formio-content {
    padding: 20px 2px;
  }

  .card .formio-content .formio-form .formio-component .card-body {
    padding: 20px 20px;
  }

  .choices__list--dropdown.is-active {
    position: relative;
  }

  .custom-arrow {
    position: relative;
    display: inline-block;
  }

  .btn-arrow {
    background: $primary-violet-green;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    border: none;
    margin-left: 30px;
  }

  .custom-arrow:after {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $white;
    font-size: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    transition: transform 0.3s ease-in-out;
  }

  .custom-arrow.rotate-arrow:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }

}