<div class="section-internal-user">
    <div class="row">
      <div class="col-md-12">
        <form id="user-form" [formGroup]="userForm">

          <div class="row">
            <div class="col">
              <div class="fv-row mb-5">
                <label class="fs-5 fw-bold form-label mb-2 required-label">
                  <span>{{ "users.FIRST_NAME" | translate }}</span>
                  <span class="text-danger">*</span>
                </label>
                <div class="form-group">
                  <input type="text" class="form-control form-control-solid pl-2"
                         placeholder="{{ 'users.fields.INSERT_FIRST_NAME' | translate }}" formControlName="firstName" />
                  <span
                    *ngIf="this.userForm.get('firstName')!.touched && this.userForm.get('firstName')!.hasError('required')"
                    class="text-danger">{{'USERS.ERRORS.REQUIRED_FIRST_NAME' | translate}}</span>
                  <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="error"
                       class="text-danger">
                    <div *ngIf="firstName.errors?.pattern">
                      {{'users.errors.INVALID_FIRST_NAME' | translate}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="fv-row mb-5">
                <label class="fs-5 fw-bold form-label mb-2 required-label">
                  <span>{{ "users.LAST_NAME" | translate }}</span>
                  <span class="text-danger">*</span>
                </label>
                <div class="form-group">
                  <input type="text" class="form-control form-control-solid pl-2"
                         placeholder="{{ 'users.fields.INSERT_LAST_NAME' | translate }}" formControlName="lastName" />
                  <span
                    *ngIf="this.userForm.get('lastName')!.touched && this.userForm.get('lastName')!.hasError('required')"
                    class="text-danger">{{'users.errors.REQUIRED_LAST_NAME' | translate}}</span>
                  <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="error"
                       class="text-danger">
                    <div *ngIf="lastName.errors?.pattern">
                      {{'users.errors.INVALID_LAST_NAME' | translate}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="fv-row mb-5">
                <label class="fs-5 fw-bold form-label mb-2 required-label">
                  <span>{{ "login.NOM_UTILISATEUR" | translate }}</span>
                  <span class="text-danger">*</span>
                </label>
                <div class="form-group">
                  <input type="text" class="form-control form-control-solid pl-2"
                         placeholder="{{ 'login.NOM_UTILISATEUR' | translate }}" formControlName="username" />
                </div>
              </div>
            </div>
            <div class="col">
              <div class="fv-row mb-5">
                <label class="fs-5 fw-bold form-label mb-2 required-label">
                  <span>{{ "users.PHONE" | translate }}</span>
                  <span class="text-danger">*</span>
                </label>
                <div class="form-group">
                  <input type="tel" class="form-control form-control-solid pl-2" inputmode="numeric"
                         (input)="onPhoneNumberInput($event)" placeholder="{{ 'users.fields.INSERT_PHONE_NUMBER' | translate }}"
                         formControlName="phoneNumber" />
                  <span *ngIf="this.userForm.get('phoneNumber')!.touched && this.userForm.get('phoneNumber')!.hasError('required')"
                        class="text-danger">{{'users.errors.REQUIRED_PHONE_NUMBER' | translate}}</span>
                  <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="error"
                       class="text-danger">
                    <div *ngIf="phone.errors?.pattern">
                      {{'users.errors.PHONE_ONLY_NUMBER' | translate}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row" *ngIf="editProfile">
            <div class="col">
              <div class="fv-row mb-5">
                <label class="fs-5 fw-bold form-label mb-2 required-label">
                  <span>{{ "users.NEWPASSWORD" | translate }}</span>
                </label>
                <div class="form-group">
                  <div class="input-group">
                    <input [type]="showPassword ? 'text' : 'password'" class="form-control form-control-solid pl-2"
                           placeholder="{{ 'users.fields.insertPassword' | translate }}"
                           formControlName="password" />
                    <div class="input-group-append">
                      <button class="btn eye-icon" type="button" (click)="togglePasswordVisibility()">
                        <i class="fa" [ngClass]="showPassword ? 'feather icon-eye-off' : 'feather icon-eye'"></i>
                      </button>
                    </div>
                  </div>

                  <span *ngIf="password.touched && password.hasError('required')"
                        class="text-danger">{{ 'users.errors.requiredPassword' | translate }}</span>

                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-secondary">
                    <div *ngIf="password.errors?.pattern"  class="text-danger">>
                      {{ 'users.errors.passwordPattern' | translate }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="fv-row mb-5">
                <label class="fs-5 fw-bold form-label mb-2 required-label">
                  <span>{{ "users.confirmPassword" | translate }}</span>
                </label>
                <div class="form-group">
                  <div class="input-group">
                    <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control form-control-solid pl-2"
                           placeholder="{{ 'users.fields.insertConfirmPassword' | translate }}"
                           formControlName="confirmPassword" />
                    <div class="input-group-append">
                      <button class="btn eye-icon" type="button" (click)="toggleConfirmPasswordVisibility()">
                        <i class="fa" [ngClass]="showPassword ? 'feather icon-eye-off' : 'feather icon-eye'"></i>
                      </button>
                    </div>
                  </div>
                  <span class="text-danger" *ngIf="password.touched && !confirmPassword.touched ">{{ 'users.errors.requiredConfirmPassword' | translate }}</span>
                  <span *ngIf="confirmPassword.touched && confirmPassword.hasError('mismatch')"
                        class="text-danger">{{ 'users.errors.confirmPasswordMatch' | translate }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col">
              <div class="fv-row mb-5">
                <label class="fs-5 fw-bold form-label mb-2 required-label">
                  <span>{{ "users.EMAIL" | translate }}</span>
                  <span class="text-danger">*</span>
                </label>
                <div class="form-group">
                  <input type="email" class="form-control form-control-solid pl-2"
                         placeholder="{{ 'users.fields.INSERT_EMAIL' | translate }}" formControlName="email" />
                  <span *ngIf="this.userForm.get('email')!.touched && this.userForm.get('email')!.hasError('required')"
                        class="text-danger">{{'users.errors.REQUIRED_EMAIL' | translate}}</span>
                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error" class="text-danger">
                    <div *ngIf="email.errors?.pattern">
                      {{'users.errors.INVALID_EMAIL' | translate}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="fv-row mb-5">
                <label class="fs-5 fw-bold form-label mb-2 required-label">
                  <span>{{ "users.CIN" | translate }}</span>
                  <span class="text-danger">*</span>
                </label>
                <div class="form-group">
                  <input type="text" class="form-control form-control-solid pl-2" placeholder="XXXX-XXX-XXXX"
                         formControlName="cin" (input)="onCinInput($event)" />
                  <span *ngIf="this.userForm.get('cin')!.touched && this.userForm.get('cin')!.hasError('required')"
                        class="text-danger">{{'users.errors.REQUIRED_CIN' | translate}}</span>
                  <div *ngIf="cin.invalid && (cin.dirty || cin.touched)" class="error" class="text-danger">
                    <div *ngIf="cin.errors?.pattern">
                      {{'users.errors.INVALID_CIN_FORMAT' | translate}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="fv-row mb-5">
                <label class="fs-5 fw-bold form-label mb-2 required-label">
                  <span>{{ "users.address" | translate }}</span>
                  <span class="text-danger">*</span>
                </label>
                <div class="form-group">
                  <input type="text" class="form-control form-control-solid pl-2"
                         placeholder="{{ 'users.fields.INSERT_ADDRESS' | translate }}" formControlName="address" />
                  <span
                    *ngIf="this.userForm.get('address')!.touched && this.userForm.get('address')!.hasError('required')"
                    class="text-danger">{{'users.errors.REQUIRED_ADDRESS' | translate}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="action d-flex justify-content-end">
            <app-custom-button class="ms-2" [buttonText]="'button.CANCEL' | translate" [buttonClass]="'btn custom-btn-secondary'"
                               [buttonType]="'button'" [buttonDisabled]="false" [tooltip]="'button.CANCEL' | translate"
                               (clicked)="back()"></app-custom-button>
            <app-custom-button class="ms-2" [buttonText]="'button.SAVE' | translate" [buttonClass]="'btn custom-btn-primary'"
                               [buttonType]="'submit'" [buttonDisabled]="userForm?.invalid" [tooltip]="'button.SAVE' | translate" (clicked)="updateUser()"></app-custom-button>
          </div>
        </form>
      </div>
    </div>
  </div>
