<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Activation du compte</title>
</head>
<body style='font-family: Arial, sans-serif; line-height: 1.6; margin: 0; padding: 0;'>
<div style='max-width: 600px; margin: auto; padding: 20px; border: 1px solid #ddd; border-radius: 5px;'>
  <h1 style='color: #333;'>Activation du compte</h1>
  <p style='color: #555;'>Merci pour votre inscription !</p>
  <h3 style='color: #333;'>Votre nom d’utilisateur est <span style='font-weight: bold;'>{{username}}</span></h3>
  <h3>Et votre mot de passe est <span style='font-weight: bold;'>{{password}}</span></h3>
  <p style='color: #555;'>Veuillez cliquer sur le bouton ci-dessous pour activer votre compte :</p>
  <p>
    <a href="{{activationLink}}" style='display: inline-block; padding: 10px 20px; font-size: 16px; color: #fff; background-color: #7B2FBE; text-decoration: none; border-radius: 5px;'>
      Activer mon compte
    </a>
  </p>
  <p style='color: #555;'>Si vous n’êtes pas à l’origine de cette demande, veuillez ignorer cet e-mail.</p>
  <p style='color: #555;'>Merci !</p>
</div>
</body>
</html>
