<div class="container_welcome">
  <div class="left-section col-6">
    <img src="" alt="Logo" class="logo" />
  </div>
  <div class="nav-item dropdown col-6" >
    <app-language-switcher></app-language-switcher>
    <div class="right-section">
    <h3 class="h3-reset-password">{{'resetPassword.RESET_PASSWORD_REQUEST' | translate}}</h3>
    <p>{{'resetPassword.ENTREZ_CORDONNEES' | translate}}</p>
    <form [formGroup]="resetPasswordRequestForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="input-container">
          <label for="username">{{ 'resetPassword.USERNAME' | translate }}<span
            class="text-danger">*</span></label>
          <input type="text" id="username" formControlName="username" placeholder="{{'resetPassword.USERNAME' | translate}}" />
        </div>
        <div *ngIf="resetPasswordRequestForm.controls['username'].hasError('required') && (resetPasswordRequestForm.controls['username'].touched || resetPasswordRequestForm.controls['username'].dirty)" class="error-fields">
          {{'resetPassword.USERNAME_REQUIS' | translate}}
        </div>
      </div>
      <div class="form-group">
        <div class="input-container">
          <label for="email">{{ 'resetPassword.EMAIL' | translate }}<span
            class="text-danger">*</span></label>
          <input type="email" id="email" formControlName="email" placeholder="{{'resetPassword.EMAIL' | translate}}" />
        </div>
        <div class="error-fields" *ngIf="resetPasswordRequestForm.controls['email'].hasError('required') && (resetPasswordRequestForm.controls['email'].touched || resetPasswordRequestForm.controls['email'].dirty)">
          {{'resetPassword.EMAIL_REQUIS' | translate}}
        </div>
        <div class="error-fields" *ngIf="resetPasswordRequestForm.controls['email'].hasError('email') && (resetPasswordRequestForm.controls['email'].touched || resetPasswordRequestForm.controls['email'].dirty)">
          {{'resetPassword.EMAIL_INVALIDE' | translate}}
        </div>
      </div>
      <div class="form-group buttons">
        <button type="submit" class="button-login" [disabled]="resetPasswordRequestForm.invalid">{{'resetPassword.SEND_RESET_REQUEST' | translate}}</button>
        <button type="button" class="back-button" (click)="onCancel()">{{'resetPassword.CANCEL' | translate}}</button>
      </div>
    </form>
  </div>
  </div>
</div>
