<form id="user-form" [formGroup]="myForm">
  <div class="action d-flex justify-content-end button-space">
    <app-custom-button class="ml-2" [buttonText]="'button.CANCEL' | translate"
                       [buttonClass]="'btn custom-btn-secondary'"
                       [buttonType]="'button'" [buttonDisabled]="false" [tooltip]="'button.CANCEL' | translate"
                       (clicked)="cancel()"></app-custom-button>
    <app-custom-button class="ml-2" [buttonText]="'button.SAVE' | translate"
                       [buttonClass]="'btn custom-btn-primary ms-2'"
                       [buttonType]="'submit'" [tooltip]="'button.SAVE' | translate"
                       [buttonDisabled]="myForm?.invalid"
                       (clicked)="submitForm()">
    </app-custom-button>
  </div>

  <div class="row">
    <div class="col">
      <div class="fv-row mb-5">
        <label class="fs-5 fw-bold form-label mb-2 required-label">
          <span class="custom-label">{{ 'form.NOM' | translate }}</span>
          <span class="text-danger">*</span>
        </label>
        <div class="form-group">
          <input type="text" class="form-control form-control-solid pl-2"
                 placeholder="{{ 'form.add.name' | translate }}" formControlName="label"/>
          <ng-container
            *ngIf="this.myForm.get('label')!.touched && this.myForm.get('label')!.hasError('required')">
            <div class="alert alert-danger mt-2" role="alert">{{ 'form.add.error.requiredname' | translate }}</div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="fv-row mb-5">
        <label class="fs-5 fw-bold form-label mb-2 required-label">
          <span class="custom-label">{{ 'form.DESCRIPTION' | translate }}</span>
          <span class="text-danger">*</span>
        </label>
        <div class="form-group">
          <input type="text" class="form-control form-control-solid pl-2"
                 placeholder="{{ 'form.add.description' | translate }}"
                 formControlName="description"/>
          <ng-container
            *ngIf="this.myForm.get('description')!.touched && this.myForm.get('description')!.hasError('required')">
            <div class="alert alert-danger mt-2" role="alert">{{ 'form.add.error.requireddescription' | translate }}
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <label class="fs-5 fw-bold form-label mb-2 required-label">
      <span class="custom-label">{{ 'form.type' | translate }}</span>
    </label>
    <div class="form-group " style="width: 200px;">
      <select id="formTypeSelect" (change)="onFormTypeChange($event)" formControlName="type"
              class="form-control form-control-solid pl-2">
        <option value="" disabled selected>{{ 'form.add.selecttype' | translate }}</option>
        <option value="pdf">PDF</option>
        <option value="form">Form</option>
        <option value="wizard">Wizard</option>
      </select>
      <ng-container
        *ngIf="this.myForm.get('type')!.touched && this.myForm.get('type')!.hasError('required')"
      >
        <div class="alert alert-danger mt-2" role="alert">{{
            'form.add.error.requiredtype' |
              translate
          }}
        </div>
      </ng-container>

    </div>
  </div>

</form>

  <div class="row bg-white">
    <div class="col" class="builder-form-control" >

      <form-builder [form]="form" [options]="options"
                    (change)="onChange($event)"></form-builder>
<hr/>
<div class="well jsonviewer">
  <pre id="json"><code class="language-json" #json></code></pre>
</div>
<div class="well jsonviewer">
  <formio #formio id="formio" [form]="form" [refresh]="refreshForm"></formio>
</div>
    </div>
  </div>
